/*Toda honra e glória para o Senhor*/

/*==reset==*/
* {
  margin: 0; padding: 0; 
  font-size: 100%; 
  border: none; 
  outline: none;  
  box-sizing: border-box; 
  font-family: Raleway, sans-serif;}
  body {background-color: #ffffff;}
  a {text-decoration: none;}
  ul {list-style: none;}
  img {max-width: 100%;} 
  :root {font-size: 62.5%;}


/*header*/
#cabecalho {
  width: 100%;
  height: 85px;

  background-color: #000040;

  margin: 0;
  padding: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cabecalho strong {
  color: #ffffff;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
}


/*background*/
#banner {
  width: 100%;
  min-height: 100vh;

  background-image: url(../images/banner.jpg);
  background-position: center;

  margin: 0;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#banner h1 {
  color: #ffffff;
  font-size: clamp(7rem, 6vw, 9rem);
  font-weight: 700;

  margin-bottom: 5px;
}

#banner h2 {
  color: #ffffff;
  font-size: clamp(2.2rem, 2.5vw, 2.7rem);
  font-weight: 200;

  line-height: 1.5;

  text-align: center;
}

#banner i {
  color: #ffffff;
  font-size: clamp(3rem, 3vw, 3.5rem);

  position: absolute;
  bottom: 40px;
}

@keyframes opacity {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.opacity {
  animation-name: opacity;
  animation-fill-mode: backwards;
  animation-duration: 2s;
  transition: 1.5s;
}

@keyframes seta {
  from {
      transform: translateY(-80px);
  }
  
  to {
      transform: translateY(0);
  }
}

.seta {
  animation-name: seta;
  animation-fill-mode: backwards;
  animation-duration: 1s;
}


/*conteúdo 1*/
#cont1 {
  width: 100%;
  height: auto;

  background-color: #000000;

  margin: 0;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info i {
  color: #ffffff;
  font-size: clamp(3rem, 3vw, 3.5rem);
  margin-bottom: 7px;
}

.info h3 {
  color: #ffffff;
  font-size: clamp(1.8rem, 2vw, 2.3rem);
  font-weight: 300;
}


/*conteúdo 2*/
#cont2 {
  width: 100%;
  height: auto;
  
  background-color: #f5f5f5;
  
  margin: 0;
  padding: 5%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.txt {
  text-align: center;
}

#cont2 img {
  width: 60%;

  margin-top: 20px;
  margin-bottom: 40px;
}

#cont2 h3 {
  color: #000000;
  font-size: clamp(2.2rem, 2vw, 2.7rem);
  font-weight: 400;

  margin-bottom: 5px;
}

#cont2 p {
  color: #000000;
  font-size: clamp(1.8rem, 2vw, 2.3rem);
  font-weight: 300;

  margin-bottom: 30px;
}

.btn {
  width: auto;
  height: auto;

  padding: 2% 4%;

  color: #ffffff;
  background-color: #ffa500;

  font-size: clamp(1.8rem, 2vw, 2.3rem);
  font-weight: 400;
  text-align: center;

  border-radius: 7px;
}

.btn:hover {
  background-color: #000000;
  transition: 200ms;
}


/*rodapé*/
.rodape {
  width: 100%;
  padding: 3vw;
  text-align: center;
  background-color: #000000;
  }
              
.rodape h5 {
  color: #ffffff;
  font-size: clamp(1.7rem, 1.3vw, 3rem);
  font-weight: 400;
}


/*media types*/
/*==nots e pcs==*/@media screen and (min-width: 760px) {
#cont1 {
  flex-direction: row;
  justify-content: space-between;
}

.info {
  width: 30%;

  margin-top: 20px;
  margin-bottom: 80px;
}


#cont2 {
  flex-direction: row;
  justify-content: center;
}

#cont2 img {
  width: 37%;

  margin-right: 5%;
}

.txt {
  width: 40%;

  margin-left: 5%;
}

.btn {
  padding: 1.5% 2.5%;
}


}